p{
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;

}

h3{
    font-size: larger;
    background-color: beige;
    padding: 20px;
}